PORT=3000
FRONTEND_URL=https://tu-app.netlify.app

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=cambia_esto_por_una_clave_secreta_larga
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=enzo.espino@educa.madrid.org
SMTP_PASS=
SMTP_FROM=Campus Lago <enzo.espino@educa.madrid.org>

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAX_FILE_SIZE=5242880
